<div class="book-tile col-md-12 border--L">
  <h4>{{bookHeader}}</h4>
  {{google-star-rating book.googleRating}}
  <button type="button" class="btn btn-default btn-lg result-tile__buttons--styled" aria-label="Download" {{action 'add' book}}>
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
  </button>
</div>
